.bg {
  background-image: url("https://img.freepik.com/free-photo/male-musician-playing-acoustic-guitar-dark-room-copy-space_169016-10976.jpg?w=740&t=st=1686295529~exp=1686296129~hmac=51a96a1819fedb92b5c87523db18ee4421b02bc0b0d080ff13055811ef68c10b");
  background-repeat: no-repeat;
  width: 100px;
}
